---
layout: default
---
<!-- This loops through the paginated posts -->
<div class="card shadow">
  {% for post in paginator.posts %}
    <h2 class="card-header">{{ post.title }}</h2>
    <div class="card-body">
      <p><i class="fa fa-user"></i> {{ site.author }}</p>
      <p><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</p>
      {% if site.disqus_shortname %}
        <i class="fa fa-comment"></i>
        <a href="{{ site.url }}{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
        {% if post.update_date %}
          &middot;
          Updated {{ post.update_date | date: site.date_format }}
        {% endif %}
      {% endif %}
      <div class="paragraph">
        {{ post.excerpt }}
        <span><a href="{{ post.url | prepend: site.baseurl }}">Read More...</a></span>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
      <div class="page-prev">
          {% if paginator.previous_page %}
              <a class="btn "href="{{ site.url }}{{ paginator.previous_page_path }}">Prev</a>
          {% else %}
              <span class="disabled btn">Prev</span>
          {% endif %}
      </div>
      <div>
          <span class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      </div>
      <div class="page-next">
          {% if paginator.next_page %}
              <a class="btn" href="{{ site.url }}{{ paginator.next_page_path }}">Next</a></li>
          {% else %}
              <span class="btn disabled">Next</span>
          {% endif %}
      </div>
</div>

<!-- Add Disqus comment count (not the comments) -->
{% if site.disqus_shortname %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname  = '{{ site.disqus_shortname }}';
  // var disqus_developer = 1; // Comment out when the site is live
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
{% endif %}