---
layout: default
---
<!-- This loops through the paginated posts -->
<div class="card shadow">
  {% for post in paginator.posts %}
    <h2 class="card-header">{{ post.title }}</h2>
    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <div class="paragraph">
      {{ post.excerpt }}
    </div>
    <div class="card-action">
      <a class="shadow" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
    </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
      <div class="page-prev">
          {% if paginator.previous_page %}
              <a class="btn "href="{{ site.url }}{{ paginator.previous_page_path }}">Prev</a>
          {% else %}
              <span class="disabled btn">Prev</span>
          {% endif %}
      </div>
      <div>
          <span class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      </div>
      <div class="page-next">
          {% if paginator.next_page %}
              <a class="btn" href="{{ site.url }}{{ paginator.next_page_path }}">Next</a></li>
          {% else %}
              <span class="btn disabled">Next</span>
          {% endif %}
      </div>
</div>
