</footer>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text center-text">Jordan Wu Blog</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <div class="flex-align-center">
            <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/jordanswu"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/JordanSpencerWu/JordanSpencerWu.github.io"><i class="fa fa-github-square fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Jordan Wu 
      </div>
    </div>
  </footer>