<header>
  <nav class="nav-fixed">
    <div class="flexbox-container">
      <div class="flex-anchor-item">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <div class="flex-anchor-item">
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </nav>
  <div class="fix-navbar-margin"></div>
</header>
