.shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.flexbox-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.flex-anchor-item {
  height: 100%;
}

.flex-anchor-item a {
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 1.2em;
  text-decoration: none;
  color: white;
  
  &:hover {
    background-color: #2196F3;  
  }
}

.container {
  margin: 0 auto;
  width: 90%;
}

.site-footer {
  background-color: #1976D2;
  padding-bottom: 20px;
  padding-top: 30px;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  
  a {
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    
    &:hover {
      color: #000;
    }
  }
}

.background-404 {
  background-color: #DCECEC;
  margin-top: 0;
  
}

.custom-card {
  background-color: #fff;
  margin: 20px 0;
  border-radius: 2px;
  padding: 20px 0;
}

.card-header {
  font-size: 1.75em;
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

.paragraph {
  padding: 10px;
}

.card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) { 
  .card, .blog-wrapper {
    width: 100%;
    margin: 20px auto;
  }
  
  .container {
    margin: 0 auto;
    width: 50%;
  }
}

.center-text {
  text-align: center;
}

.about-me-description {
  padding: 20px;
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-body {
  font-size: 1rem;
  padding: 0 10px;
  
  p {
    margin: 0;
    padding: 4px 0;
  }
}

.blog-wrapper {
  border-radius: 5px;
  background-color: #00BCD4;
  color: #fff;
  padding-top: 10px;
  margin-top: 10px;
}

.blog-info {
  padding: 10px;
  margin: 0;
  text-align: center;
}

.post-content {
  padding: 20px 0;
}

pre, code { font-family: inherit; }

pre { padding: .5rem 1rem; font-size: 0.75rem; line-height: 1.5; border: 1px solid #e6e1dc; background-color: #fff; }

code { padding: .1rem .25rem; background-color: #f4f4f4; }

pre > code { padding: 0; background-color: #fff; }

.post p {
  word-spacing: .5;
  line-height: 150%;
  font-size: 1.25em;
  margin: 10px 0;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.playlist-link {
  margin: 10px 0;
}

.current {
  margin: 0 10px;
}

.side-nav-header {
  background-image: url("http://codedroid12.com/evenFlow/img/3_large.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: auto 100%;
  width: 100%;
  height: 300px;
  position: relative;
}

.side-nav-brand-name {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  font-size: 1.2rem;
}

.side-nav-img {
  height: 150px !important;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bloc-head {
  padding: 20px;
}

.contact-form {
  padding: 0 15px;
}