.nav-fixed {
  background-color: #1976D2;
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 9999;
}

.flexbox-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.flex-anchor-item {
  height: 100%;
}

.flex-anchor-item a {
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 1.2em;
  text-decoration: none;
  color: white;
  
  &:hover {
    background-color: #2196F3;  
  }
}

.fix-navbar-margin {
  height: 64px;
}